@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Trade+Winds&display=swap&family=Pattaya&display=swap");
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}

@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

header .navbar h2 {
  font-family: "Trade Winds";
  font-size: 40px;
}

header .navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0 2px;
  padding: 0 16px;
  display: inline;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  cursor: pointer;
  border-radius: 2px;
}

header .navbar li:hover {
  background: white;
  color: black;
}

section.hero {
  height: 80vh;
}

section.hero .wrapper {
  background: black;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
}

section.hero .text {
  position: relative;
  z-index: 10;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: white;
  /* I make websites */
  font-family: "Oswald", sans-serif;
  font-size: 140px;
  text-shadow: 10px 10px 0 black;
}

@media (max-width: 930px) {
  section.hero .text {
    font-size: 14vw;
    text-shadow: 1vw 1vw 0 black;
  }
}

div.separator {
  position: relative;
  width: 100%;
  height: 200px;
  background: #380000;
  z-index: 100;
}

.background.svgs {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 90px;
}

.background.svgs .wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: clamp(800px, 80vh, 2000px);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2% 2% 4% 12% 1% 15% 1% 19% 5% 5% 8% 4% 8% auto;
      grid-template-rows: 2% 2% 4% 12% 1% 15% 1% 19% 5% 5% 8% 4% 8% auto;
  -ms-grid-columns: 3% 4% 15% 5% 5% 4% 20% 15% 5% 5% 19%;
      grid-template-columns: 3% 4% 15% 5% 5% 4% 20% 15% 5% 5% 19%;
  z-index: -1;
}

.background.svgs .wrapper img {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3/8;
  height: 400px;
  width: auto;
  border-radius: 500px;
}

.background.svgs .wrapper .x1 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.background.svgs .wrapper .burger {
  margin-top: auto;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
}

.background.svgs .wrapper .ff {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
}

.background.svgs .wrapper .x2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.background.svgs .wrapper .circle {
  -ms-grid-row: 11;
  grid-row: 11;
  -ms-grid-column: 9;
  grid-column: 9;
  background: black;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-size: 60px 60px;
  background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
  -webkit-animation: barberpole .5s linear infinite;
          animation: barberpole .5s linear infinite;
}

@media (max-width: 1083px) {
  .background.svgs .wrapper img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/12;
    margin: auto;
  }
  .background.svgs .wrapper .x2 {
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8/9;
  }
  .background.svgs .wrapper .burger {
    margin: auto 0 0 auto;
    -ms-grid-row: 12;
    grid-row: 12;
    -ms-grid-column: 8;
    grid-column: 8;
  }
  .background.svgs .wrapper .circle {
    -ms-grid-row: 11;
    grid-row: 11;
    -ms-grid-column: 5;
    grid-column: 5;
  }
}

@-webkit-keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px 0px;
  }
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px 0px;
  }
}

section.projectsSection {
  position: relative;
  height: 200vh;
  background: #e7e7e7;
}

section.projectsSection .content {
  width: 70%;
  margin: auto;
  background: white;
}

html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
