section.projectsSection {
    position: relative;
    height: 200vh;
    background: rgb(231, 231, 231);
    .content{
        max-width: 4000px;
        height: 100%;
        width: 70%;
        margin: auto;
        background: white;
        @media(max-width: 1084px){
            width: 100%;
        }

        h2{
            font-family: "Computer Modern", sans-serif;

            border-bottom: 2px solid rgb(216, 216, 216);
            font-size: 50px;
            padding: 10px 0 9px 20px;
            width: 90%;
            margin: auto;
            @media(max-width: 1084px){
                width: 100%;
            }
    
        }
    }
}
